<!--https://codepen.io/rizwanahmed19/pen/KrYvwj-->
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Getting bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style-sheet.css') }}" />
</head>

<header>
    <title>SmartInvest - An Investment Simulation Environment</title>
    <!-- Favicon -->
    <link rel="icon" href="{{url_for('static',filename='assets/smartInvestFavicon.png')}}" type="image/png" />
</header>

<body>
    <div class="nav-btn">Menu</div>
    <div class="container">
        <div class="sidebar">
            <nav>
                <a href="dashboard.html">
                    <img src="{{url_for('static',filename='assets/smartInvestLogo.png')}}" alt="SmartInvest" />
                    <!-- <span>Investment Simulation Environment</span> -->
                </a>
                <ul>
                    <li class=""><a href="dashboard.html">Dashboard</a></li>
                    <li class=""><a href="crypto.html">Crypto</a></li>
                    <li class=""><a href="stocks.html">Stocks</a></li>
                    <li class="active"><a href="info.html">Info</a></li>
                </ul>
            </nav>
        </div>

        <!-- PAGE CONTENT -->
        <div class="main-content">
            <h1>The Story</h1>

            <!-- date selection -->
            <div class="m-4">
                <p>
                    You are a student who has just received his yearly stipend grant and you would like to make the most out of it. You can either leave the money in the bank with just a small interest rate, or you can invest this money, making the money work for you. However,
                    be aware that Stock and Crypto prices can fluctuate drastically and the value of your investment may go up, as well as down, with the possibility of even losing everything.
                </p>
                <p>
                    With the increase in popularity of the topic of investing, especially on social media, the idea that investing is an easy way to make money is being slowly introduced to everyone. In addition to this, investing has never been so accessible having the
                    ability to do so from your mobile device using apps such as Binance or Revolut. Therefore it is becoming more and more important to learn to invest in the right way, or not invest at all.
                </p>
                <p>
                    The aim of this app is to educate yourself about the risks of investing blindly without any background knowledge of investing and to promote good investment practices. Although this is a simulation, it is based on real-life stock and cryptocurrency data
                    and provides a next to life simulation which will help you to become familiar with the benefits, but also the unpredictability and dangers of investments.
                </p>
                <p>
                    Note: The app is still a prototype.
                </p>
            </div>
        </div>
    </div>
</body>